/*
 * This imports a font from Google Fonts.
 */
@import url('https://fonts.googleapis.com/css?family=Laila');

/*
 * This section creates some color values that can be referred to by name.
 * It's just for readability -- using the color values directly also works fine.
 */
:root {
  --bronze: rgb(247, 160, 64);
  --lightbronze: rgb(255, 190, 120);
  --darkbronze: rgb(210, 90, 40);
  --marshmallow: rgb(210, 210, 210);
  --darkocean: rgb(8, 10, 15);
  --smoke: rgba(0, 0, 0, 0.3);
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 16px;
  color: var(--marshmallow);
  font: 28px "Laila", serif;

  background-image: url("block-13.png");
  background-size: 60px;
  background-color: var(--darkocean);

  /* this lets us vertically and horizontally center everything */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  color: var(--darkbronze);
  text-align: center;
  font-size: 72px;
  margin: 0;
}

h2 {
  color: var(--marshmallow);
  text-align: center;
  font-size: 24px;
  font-style: italic;
}

main {
  background-color: var(--smoke);
  border-radius: 8px;
  padding: 32px;
  margin-bottom: 64px;
}

/*
 * Don't put space above the top <p> tag, or below the bottom one.
 * It's easier to control the space by styling <main>.
 */
p:first-of-type {
  margin-top: 0;
}

p:last-of-type {
  margin-bottom: 0;
}

/*
 * This puts the main content in a vertically-centered box.
 */
.container {
  width: 800px;
}

.actions {
  text-align: center;
}

/*
 * This makes the links look like bronze buttons.
 * The styling will only apply to <a> tags that are direct children
 * of a tag with the "actions" class.
 */
.actions > a {
  display: inline-block;

  background-color: var(--bronze);
  color: var(--darkbronze);
  padding: 2px 12px;
  text-decoration: none;
  text-shadow: 0.8px 0.8px 0.5px black;
  font-weight: bold;

  border: 5px solid black;
  border-left-color: var(--darkbronze);
  border-top-color: var(--darkbronze);
}

/*
 * The "buttons" will get lighter when the mouse is over them.
 */
.actions > a:hover {
  background-color: var(--lightbronze);
}

/*
 * I needed to nudge the emojis down by 2px inside the buttons.
 */
.emoji {
  position: relative;
  top: 2px;
  text-shadow: none;
}
